@import "../../styles/variables";
@import "../../styles/breakpoints";

.downloadContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 25px;
  margin: 50px 0;
  @include breakpoint-md {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}