@import "../variables";

.bannerContainer {
  background-image: url("../../public/banner-mobile.png");
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;

  p {
    background-color: #fff;
    margin: 170px 0 0 0;
    align-self: flex-end;
    justify-self: flex-end;
    width: 85%;
    border-bottom: solid $primary 1px;
    &::first-letter {
      color: $primary;
    }
  }
}