@import "../../styles/variables";
@import "../../styles/breakpoints";

.signUpForm {
  display: flex;
  flex-flow: column wrap;
  @include breakpoint-md {
    flex-flow: row wrap;
  }

  .title {
    margin-bottom: 10px;
    width: 100%;
  }

  .inputContainer {
    margin-bottom: 30px;
    @include breakpoint-md {
      width: 50%;
    }
  }

  .fullWidth {
    width: 100%;
  }

  .radioContainer {
    display: flex;
    gap: 10px;
    flex: 1;

  }

  .submitBtn {
    margin-top: 20px;
    width: 100%;
  }

  .error {
    margin: 5px 0;
    color: $primary;
    font-weight: bold;
  }
}
