@import "../../styles/variables";

.navigateBack {
  font-weight: bold;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
  }
  &::first-letter {
    color: $primary;
  }
}